{
  "singleQuote": true,
  "tabWidth": 2,
  "printWidth": 80,
  "semi": false,
  "arrowParens": "always",
  "trailingComma": "all",
  "bracketSpacing": true,
  "bracketSameLine": true,
  "jsxSingleQuote": true,
  "endOfLine": "auto"
}